.wrapper {
    min-height: 100%;
    margin-bottom: -$footer-height;
}

.footer-push {
    height: $footer-height
}

.footer {
    width: 100%;
    background: black;
    color: white;

    @include dflex_center($footer-height);

    span {
        margin: 0 auto;
    }
}