$top-nav-height: 60px;
$background-primary: white;
$nav-background: white;
$background-blue: #1a73e8;
$box-shadow-primary: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12); 
$footer-height: 72px;
$color-green: #66ff99;